{% extends "base.html" %} {% block content %}
<div>
  <a href="{% url 'addTodo' %}">novo todo</a>
</div>
{% for todo in todo_list %}
<div class="" id="{{ todo.id}}">
  <a href="{% url 'todo' todo.id %}">{{ todo.title }}</a>
  <p>{{ todo.description }}</p>
  {% if todo.completed == True %}
  <h6>concluída</h6>
  {% else %}
  <h6>não concluída</h6>
  {% endif %}
  <div>
    <a class="" href="{% url 'editTodo' todo.id  %}">editar</a>
    <a href="{% url 'excluirTodo' todo.id  %}">excluir</a>
  </div>
</div>
{% endfor %} {% endblock %}
